<section class="online">
    <div class="background">
    </div>
</section>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="word">
                    <p>
                        contact
                    </p>
                 
                </div>
                <div class="arabic">
                        <img src="../../../../assets/images/arabisc.png">
                    </div>
            </div>
            <div class="col-lg-8">
                <div class="row bcontact">
                    <div class="col-lg-4 brand">
                        <img src="../../../../assets/images/brand.png" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="col-lg-8 social">
                        <p><img src="../../../../assets/images/call.png">(289) 813-1025</p>
                        <p><img src="../../../../assets/images/location.png">485 Morden Road,Oakville, Ontario</p>
                        <p><img src="../../../../assets/images/message.png">info@daralquranschool.ca</p>
                    </div>
                </div>

                <form>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="*Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="*Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control form-rounded form-control-lg rounded-0"
                            id="exampleFormControlTextarea2" placeholder="*Message" rows="16"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="map">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="992px" height="545px" id="gmap_canvas" src="https://maps.google.com/maps?q=485%20Morden%20Rd%2C%20Oakville%2C%20ON%20L6K%203W6&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/">nord coupon code</a></div><style>.mapouter{position:relative;text-align:right;height:478px;width:730px;}.gmap_canvas {overflow:hidden;background:none!important;height:478px;width:730px;}</style></div>   
         </div>
</section>

<!-- mobilesection -->



<section class="head">
    <div class="divMask">
        <div class="container">
            <div class="row">
                <div class="headWord">
                    <h3 class="h1">Contact</h3>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="*Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="*Email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control form-rounded form-control-lg rounded-0"
                                id="exampleFormControlTextarea2" placeholder="*Message" rows="16"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="news">
        <div class="newsMask">
            <div class="container">
                <div class="row">
                    <h1>Last News</h1>
                    <div class="col-12">
                        <div class="newsItem">
                            <img src="../../../../assets/images/news.png" class="img-fluid mx-auto d-block">
                            <p class="text-center">Sustainable Construction Sustainable Construction Sustainable
                                Construction
                                Mar 08, 2015</p>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="newsItem">
                            <img src="../../../../assets/images/news.png" class="img-fluid mx-auto d-block">
                            <p class="text-center">Sustainable Construction Sustainable Construction Sustainable
                                Construction
                                Mar 08, 2015</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 social">
                <p><img src="../../../../assets/images/call.png">(289) 813-1025</p>
                <p><img src="../../../../assets/images/location.png">485 Morden Road,Oakville, Ontario</p>
                <p><img src="../../../../assets/images/message.png">info@daralquranschool.ca</p>
            </div>
        </div>
    </div>

</section>