<section class="res">
    <div class="eventBack">
    </div>
</section>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ">
                <div class="word">
                    <p>
                        events
                    </p>
                </div>
                <img src="../../../../assets/images/arabisc.png" class="zkhrafa">

            </div>
            <div class="col-lg-8">
                <div class="wrapper">
                    <div class="row event">
                        <div class="col-4">
                            <img src="../../../../assets/images/event.png" class="img-fluid mx-auto d-block">
                        </div>
                        <div class="col-8  evnetContent">
                            <p>news1 text text text text text</p>
                            <p>Lorem Ipsum is simply dummy text of the </p>
                        </div>
                    </div>
                    <div class="row event">
                        <div class="col-4">
                            <img src="../../../../assets/images/event.png" class="img-fluid mx-auto d-block">
                        </div>
                        <div class="col-8  evnetContent">
                            <p>news1 text text text text text</p>
                            <p>Lorem Ipsum is simply dummy text of the </p>
                        </div>
                    </div>
                    <div class="row event">
                        <div class="col-4">
                            <img src="../../../../assets/images/event.png" class="img-fluid mx-auto d-block">
                        </div>
                        <div class="col-8  evnetContent">
                            <p>news1 text text text text text</p>
                            <p>Lorem Ipsum is simply dummy text of the </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="media">
    <!-- <div class="mediaMask"> -->
        <div class="container">
            <h1 class="text-center">Events Video</h1>
           <div class="row">
              <div class="col-lg-4">
                    <div class="embed-responsive embed-responsive-16by9 item">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NIAnV57sG-s" allowfullscreen></iframe>
                    </div>
              </div>
              <div class="col-lg-4">
                    <div class="embed-responsive embed-responsive-16by9 item">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9dm3avWnkTg" allowfullscreen></iframe>
                   </div>
              </div>
              <div class="col-lg-4">
                    <div class="embed-responsive embed-responsive-16by9 item">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DzwIRzD7da4" allowfullscreen></iframe>
                     </div>
              </div>  
           </div>
        </div>
      <!-- </div> -->
    </section>
<section class="gallery">
    <div class="mask">
        <h1 class="text-center">Gallery</h1>
        <div class="content2">
            <div class="row ga">
                <div class="col-lg-3">
                    <img src="../../../../assets/images/photo1.png" class="img-fluid mx-auto d-block">
                </div>
                <div class="col-lg-3">
                    <img src="../../../../assets/images/photo2.png" class="img-fluid mx-auto d-block">
                </div>
                <div class="col-lg-3">
                    <img src="../../../../assets/images/photo3.png" class="img-fluid mx-auto d-block">
                </div>
                <div class="col-lg-3">
                    <img src="../../../../assets/images/photo2.png" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
        <div class="news">
            <div class="newsMask">
                <div class="container">
                    <div class="row">
                        <h1>Last News</h1>
                        <div class="col-12">
                            <div class="newsItem">
                                <img src="../../../../assets/images/news.png" class="img-fluid mx-auto d-block">
                                <p class="text-center">Sustainable Construction Sustainable Construction Sustainable
                                    Construction
                                    Mar 08, 2015</p>
                            </div>
                        </div>
    
                        <div class="col-12">
                            <div class="newsItem">
                                <img src="../../../../assets/images/news.png" class="img-fluid mx-auto d-block">
                                <p class="text-center">Sustainable Construction Sustainable Construction Sustainable
                                    Construction
                                    Mar 08, 2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="social">
        <div class="container">
            <div class="row">
                    <div class="col">
                            <p><img src="../../../../assets/images/call.png" >(289) 813-1025</p>
                            <p><img src="../../../../assets/images/location.png">485 Morden Road,Oakville, Ontario</p>
                            <p><img src="../../../../assets/images/message.png">info@daralquranschool.ca</p>
                    </div>
            </div>
        </div>

</section>
