.footer{
    background-image: url(../../../../assets/images/footerMask.png) ;
    background-repeat: no-repeat ;
    background-size: cover ;
    background-position: center ;
    width: 100% ;
    height: fit-content;
    padding: 5px ;
}

.footer p {
    color: white ;

}